* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif
}

body {
    background-color: #F5F4F0;
}

main {
    width: 1120px;
    margin: 88px auto 65px auto;
}

p {
    color: #333333;
}

main img {
    width: 100%;
    border-radius: 28px;
    object-fit: cover;
}

.headline {
    color: #E1624F;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
}

h1, h2, h3 {
    color: #1B1B1B;
}

h2 {
    margin-bottom: 8px;
}

h3 {
    margin-bottom: 4px;
}

h3 + p {
    margin-bottom: 24px;
}

.description {
    text-align: center;
    font-style: italic;

}

#introduction img {
    margin: 40px 0 24px 0;
    height: 660px;
}

#attractions {
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    padding: 64px 0 40px 0;
    margin: 40px 0;
}

.attraction-card {
    margin-top: 64px;
}

.attraction-card img {
    margin-bottom: 20px;
    height: 350px;
}


.attraction-card + .attraction-card {
    margin-top: 48px;
}

ul {
    margin-left: 20px;
    font-weight: bold;
}

.list-title {
    font-weight: bold;
}

.blue {
    color: #0C51A7;
}

.purple {
    color: #591B98;
}

.pink {
    color: #E5245E;
}

.orange {
    color: #E95E10;
}

section + p {
    text-align: center;
}

footer {
    text-align: center;
    margin-bottom: 48px;
}
